body {
  font-family: 'Arial Black', Gadget, sans-serif;
  color: #3A3335;
}

.moves-container {
  position: absolute;
  top: 30%;
  right: 5%;
}

.moves-container > button {
  width: 50px;
}

.actions-container {
  position: absolute;
  top: 35%;
  left: 5%;
  display: flex;
  flex-direction: column;
}

button {
  background-color: #fcdebe;
  color: #3a3335;
  margin: 5px 5px;
  border-radius: 12px;
  cursor: pointer;

  border: none;
  font-family: 'Arial Black', Gadget, sans-serif;

  width: 200px;
  height: 30px;
  transition-duration: 0.2s;
}

.information-display {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-size: 1.5em;
}

button:hover {
  background-color: #ffb65f;
  color: black;
}

/* Slider, from w3schools.com */
.slider {
  -webkit-appearance: none; 
  appearance: none;
  width: 90%;
  height: 15px;
  background: #d3d3d3;
  outline: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #fad9b6;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #fad9b6;
  cursor: pointer;
}

/* Screensize adjustments */
@media (max-width: 900px) {
  .moves-container {
    display: none;
  }

  .actions-container {
    flex-direction: row;
    bottom: 0%;
    top: 80%;
    flex-wrap: wrap;
    width: 440px;
    margin: auto;
    left: 0;
    right: 0;
  }

  button:focus:active {
    background-color: #ffb65f;
    color: black;
  }

  button:hover {
    background-color: #fcdebe;
    color: #3a3335;
  }
}